<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/forgotpw.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script src="/static/JS/script.js"></script>
    <title>JOIV Service</title>
</head>
<body>
    <h1>Forgot password</h1>
    <form action="{{ url_for('forgot_password') }}" method="post">
        <!--Headings for the form-->
        <div class="headingsContainer">
            <h3>Lost account</h3>
            <p>Provide a valid Email</p>
        </div>

        <!-- Main container for all inputs-->
        <div class="mainContainer">
            <!--Email-->
            <label for="email">Your Email</label>
            <!--Maske sure to put reqierd for both the inputfields-->
            <input type="email" id="email" name="email" required>
            <br>

            <!--Submit button-->
            <button type="submit"value="submit">Send password</button>

            <!--Sig un link-->
            <p class="login">Back to login page <a href="{{ url_for('login') }}">here!</a></p>
        </div>
    </form>
</body>
</html>